/* General styles */
body {
  margin: 0;
  font-family: poppins, sans-serif;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/* header styles */

header {
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    > #navbar {
      > ul {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          margin-left: 10px;
          a {
            padding: 0 8px;
            color: #222;
            font-size: 13px;
            transition: all 0.5s ease 0s;
            font-weight: 500;
            &:visited{
                color: #007bff;
            }
            &:hover {
              color: #007bff;
            }
          }
        }
      }
    }
  }
}
