/* General styles */
@font-face {
  font-family: poppins;
  src: url(fonts/Poppins-Black.ttf);
}
@font-face {
  font-family: poppins-regular;
  src: url(Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins-medium;
  src: url(Poppins-Medium.ttf);
}
body {
  margin: 0;
  font-family: Poppins;
}
*::selection {
  background-color: #8490ff;
  color: #fff;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

/* header styles */

header {
  background-color: #fff;
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    /* navbar style */
    > #navbar {
      > ul {
        margin: 0;
        padding: 0;
        li {
          > ul {
            display: block;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            right: 0;
            margin: 22px 0 0 0;
            padding: 10px;
            box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
            background: #fff;
            transition: all 0.3s ease-out 0s;
          }
          &:hover > ul {
            opacity: 1;
            visibility: visible;
            ul {
              opacity: 0;
              visibility: hidden;
              position: absolute;
              top: 0;
              right: 106%;
              transition: all 0.3s ease-in-out 0ms;
            }

            > li {
              width: 180px;
              margin: 0px;
              &:hover > ul {
                opacity: 1;
                visibility: visible;
              }
              a {
                text-wrap: nowrap;
                padding: 5px 10px;
                color: #333;
                transition: 0.3s;
                display: block;
                font-size: 12px;
                text-transform: none;
                &:hover {
                  color: #007bff;
                }
              }
            }
          }
          position: relative;
          display: inline-block;
          list-style-type: none;
          margin-left: 10px;
          &:hover ul {
            display: block;
          }

          a {
            padding: 0 8px;
            color: #222;
            font-size: 13px;
            transition: all 0.5s ease 0s;
            font-weight: 500;
            &:visited {
              color: #007bff;
            }
            &:hover {
              color: #007bff;
            }
          }
        }
      }
    }
  }
}

/* Main styles */
main {
  background-color: #f9f9ff;
  /* width: 100%; */
  .container {
  > #top-main {
      max-width: 100%;
      margin-right: -15px;
      margin-left: -15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      h6 {
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: 400;
        letter-spacing: 2px;
        font-size: 14px;
      }
      h1 {
        color: #222222;
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 60px;
        text-transform: uppercase;
      }
      p {
        color: #777777;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 30px;
        max-width: 585px;
      }
      a {
        line-height: 42px;
        padding-left: 30px;
        padding-right: 30px;
        border: none;
        color: #fff;
        display: inline-block;
        font-weight: 500;
        background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
        transition: all 0.3s ease 0s;
        &:hover {
          box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
        }
      }
    }
  }
  .container {
  #about-section {
    margin-top: 30px;
      margin: 0 auto;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between !important;
      align-items: center;
      margin-right: -15px;
      margin-left: -15px;
      h6 {
        margin-bottom: 30px;
        margin-top: 0;
        text-transform: uppercase;
        font-weight: 400;
      }
      h1 {
        color: #222222;
        margin-top: 0;
        margin-bottom: 40px;
        font-size: 36px;
        text-transform: uppercase;
      }
      p {
        color: #777777;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 30px;
        max-width: 465px;
      }
      a {
        line-height: 42px;
        padding-left: 30px;
        padding-right: 30px;
        border: none;
        color: #fff;
        display: inline-block;
        font-weight: 500;
        background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
        transition: all 0.3s ease 0s;
        &:hover {
          box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
        }
      }
    }
    img {
      width: 580px;
    }
  }
}
